<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top flo" >
        <div class="container">
            <div class="navbar-header" style="float: right;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("نظام حجز الغرف", "Index", "Room", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @*<div class="navbar-collapse collapse" style="">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("الغرف", "Index", "Room")</li>
                </ul>
            </div>*@
            <div class="navbar-header" style="float: left;">
               <img src="~/Content/images/logo.png" style="height: 50px; padding: 5px 0;" />
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div style="display:flex; flex-direction: column; align-items: center;">
                <p style="font-weight: bold;">&copy; @DateTime.Now.Year - Internation Medical Center IMC</p>
                <p>Hotel Management Department</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
